@tailwind base;
@tailwind components;
@tailwind utilities;
html { font-size: 16px; }
body { @apply bg-gray-50 text-gray-900 antialiased; }
@media print { .no-print { display: none !important; } details { display: block; } }
